@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote{
	font-style: italic;
}

blockquote[epub|type~="z3998:postal"]{
	text-align: center;
}

blockquote[epub|type~="z3998:postal"] p{
	display: inline-block;
	text-align: left;
}

blockquote[epub|type~="z3998:postal"] span:nth-of-type(2){
	padding-left: 1em;
}

blockquote[epub|type~="z3998:postal"] span:nth-of-type(3){
	padding-left: 2em;
}

blockquote[epub|type~="z3998:postal"] span:nth-of-type(4){
	padding-left: 3em;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:sender"]{
	font-variant: small-caps;
}

[epub|type~="z3998:letter"] p:first-child,
[epub|type~="z3998:letter"] [epub|type~="z3998:salutation"]:first-child + p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub:type~="z3998:signature"]{
	font-variant: small-caps;
}
